// Colors
$grey: #333333;
$light-grey-text: #bbbbbb;
$light: #efefef;
$grey-border: #dcdcdc;
$grey-hover: #e0e0e0;
$grey-click: #adadad;
$blue: #4183C4;
$light-red: #d0a9a9;
$red: #db2828;
$faded-text: rgba(0,0,0,.3);
