.todo-list {
    background-color: $light;
    border: 1px solid $grey-border;
    border-top-width: 0;
    border-bottom-width: 0;
}

.no-todos-message {
    color: $light-grey-text;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    font-size: 1.3rem;
}
